<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.feng.transactiondemo.mapper.TablebMapper">

    <resultMap id="BaseResultMap" type="org.feng.transactiondemo.domain.Tableb">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>
    <insert id="insertTableB" useGeneratedKeys="true" keyProperty="id">
        insert into tableb(name) values(#{name})
    </insert>
</mapper>
